@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* #20283f */
}

body{
  color: #66696c;
    font-family: Hauora, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75em;
}

img{
  width: 100%;
}
